./build
build/
lexers/
cpplexers.h
cpplexers.cpp
src/lexers/lexers.h
codeeditor.o
finddialog.o
main.o
mainwindow.o
Makefile
minimap.o
moc_codeeditor.cpp
moc_codeeditor.o
moc_finddialog.cpp
moc_finddialog.o
moc_mainwindow.cpp
moc_mainwindow.o
moc_minimap.cpp
moc_minimap.o
moc_predefs.h
moc_settings.cpp
moc_settings.o
qrc_res.cpp
qrc_res.o
settings.o
SimpleCodeEditor
ui_finddialog.h
ui_mainwindow.h
ui_minimap.h
ui_settings.h
AppRun
*.o
build/moc_finddialog.cpp
build/ui_settings.h
build/ui_mainwindow.h
build/ui_finddialog.h
build/SimpleCodeEditor
build/settings.o
build/moc_settings.o
build/moc_settings.cpp
build/moc_mainwindow.o
build/moc_mainwindow.cpp
build/moc_finddialog.o
build/moc_finddialog.cpp
build/Makefile
