[Desktop Entry]
Version=1.0
Type=Application
Name=SimpleCodeEditor
Exec=SimpleCodeEditor %f
Icon=SimpleCodeEditor.png
Categories=Utility;TextEditor;Development;
mime-type=text/plain;
terminal=false;
Comment=A Simple Code Editor